[submodule "lvl0/libft"]
	path = lvl0/libft
	url = https://github.com/theillarion/21-libft.git
	branch = main
[submodule "lvl2/minitalk"]
	path = lvl2/minitalk
	url = https://github.com/theillarion/21-minitalk.git
	branch = main
[submodule "lvl2/push_swap"]
	path = lvl2/push_swap
	url = https://github.com/theillarion/21-push_swap.git
	branch = main
[submodule "lvl1/get_next_line_fixed"]
	path = lvl1/get_next_line_fixed
	url = https://github.com/theillarion/get_next_line_fixed.git
	branch = main
[submodule "lvl2/so_long"]
	path = lvl2/so_long
	url = https://github.com/theillarion/21-so_long.git
	branch = master